header {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
}

.scoreboard {
    padding-bottom: 20px;
}

.grid {
    width: 606px;
    height: 606px;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.square {
    width: 200px;
    height: 200px;
    border: solid 1px rgb(105, 94, 41);
}

.mole {
    background-image: url(img/resetti.png);
    background-size: cover;
}